
.App{
    /* cursor:url(cursor.png),auto ; */
background-image: linear-gradient(to right,#1c2127, #86959c);
    min-width: 100vw;
    min-height: 100vh;
    background-size:100% 100%;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}